<%- include('../header')  %>   
   
<h3>STUDENTS SECTION</h3>

<br>
<div class="container">

    <h4>Add Student</h4>
    
    <form action="/app/students/add" method="post"> 
        <% if (errors.name){ %>
            <%= errors.name.msg %>
       <% } %>
        <input class="form-control shadow-none mb-3 phText" type="text" name="name" id="inputName" placeholder="Student Name">
        <% if (errors.stream){ %>
            <%= errors.stream.msg %>
       <% } %>
        <input class="form-control shadow-none mb-3 phText" type="text" name="stream" id="inputStream" placeholder="Stream" list="Streams">
        <datalist id="Streams">
            <% for(const stream of streamData) { %>
            <option value="<%=stream.NAME%>">
              <%=stream.NAME%>
            </option>
            <% }%>
            </datalist>

        <% if (errors.department){ %>
            <%= errors.department.msg %>
       <% } %>
        <input class="form-control shadow-none mb-3 phText" type="text" name="department" id="inputDepartment" placeholder="Department" list="Departments">
        <datalist id="Departments">
            <% for(const dept of departmentData) { %>
            <option value="<%=dept.NAME%>">
              <%=dept.NAME%>
            </option>
            <% }%>
            </datalist>
            
        <% if (errors.batch){ %>
            <%= errors.batch.msg %>
       <% } %>
        <input class="form-control shadow-none mb-3 phText" type="text" name="batch" id="inputBatch" placeholder="Batch">
        <% if (errors.dob){ %>
            <%= errors.dob.msg %>
       <% } %>
        <input class="form-control shadow-none mb-3 phText" type="text" name="dob" id="inputDOB" placeholder="Enter Date_Of_Birth">
        <% if (errors.mobile_no){ %>
            <%= errors.mobile_no.msg %>
       <% } %>
        <input class="form-control shadow-none mb-3 phText" type="text" name="mobile_no" id="inputMobile_no" placeholder="Mobile_No">
        <input class="form-control shadow-none mb-3 phText" type="text" name="age" id="inputAge" placeholder="Age">
        <input class="form-control shadow-none mb-3 phText" type="text" name="address" id="inputAddress" placeholder="Address">
        <% if (errors.blood_group){ %>
            <%= errors.blood_group.msg %>
       <% } %>
        <input class="form-control shadow-none mb-3 phText" type="text" name="blood_group" id="inputBlood_group" placeholder="Blood_group" list="BloodGroup">
        <datalist id="BloodGroup"
  <% for(const grp of bloodGroup) { %>
  <option value="<%=grp.group%>">grp.group</option>
  <% }%>
  </datalist>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>



<%- include('../footer')  %>
 