<%- include('../header')  %>   

<div class="container">

  <h3>STUDENTS SECTION</h3>

     <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Add a Student</h5>
                <% if (errors.student_id){ %>
                    <%= errors.student_id.msg %>
               <% } %>
               <% if (errors.opsError){ %>
                  <%= errors.opsError %>
             <% } %>
             <br>
                <a class="card-link" href="/app/students/add">Click to Add a Student ➪</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Search a Student</h5>
                <form action="/app/students/search" method="post">
                    <% if (errors.student_id){ %>
                          <%= errors.student_id.msg %>
                     <% } %>
                     <% if (errors.no_Data){ %>
                         <div class="error-msg">
                          <%= errors.no_Data %>
                         </div>
                    <% } %>
                    <% if (errors.opsError2){ %>
                       <%= errors.opsError2 %>
                  <% } %>
                  <input type="text" class="form-control shadow-none mb-3 phText" name="student_id" placeholder="Enter student_id to search">
              </form>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">View Students All Details</h5>
                <a class="card-link" href="/app/students/details">Click to View Students Details ➪</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Export Student Details</h5>
                <% if (errors.exportError){ %>
                  <%= errors.exportError %>
             <% } %>
                <a class="card-link" href="/app/students/export">Click to Export ➪</a>
              </div>
            </div>
          </div>
        </div> 
</div> 

<% if(fileName){%>
  <a href="/public/exports/<%=fileName%>" download="<%=fileName%>" id="download-link"></a>
<% } %>

<script>
  document.getElementById('download-link').click()
</script>

<%- include('../footer')  %>
 