<%- include('../header')  %>   
   <div class="container">

    <h3>STAFFS SECTION</h3>

    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Add a Staff</h5>
        
        <% if (errors.opsError1){ %>
          <div class="error-msg">
        <%= errors.opsError1 %>
          </div>
        <% } %>
           <br>
           <a class="card-link" href="/app/staffs/add">Click to Add a Staff ➪</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Search a Staff</h5>
              <form action="/app/staffs/search" method="post">
                <% if (errors.staff_id){ %>
                  <div class="error-msg">
                    <%= errors.staff_id.msg %>
                  </div>
               <% } %>
               <% if (errors.no_Data){ %>
                <div class="error-msg">
                <%= errors.no_Data %>
                </div>
            <% } %>
            <% if (errors.opsError2){ %>
              <div class="error-msg">
            <%= errors.opsError2 %>
          </div>
            <% } %>
            <% if (errors.opsError4){ %>
              <div class="success-msg">
            <%= errors.opsError4 %>
          </div>
            <% } %>
            <% if (errors.opsError5){ %>
              <div class="error-msg">
            <%= errors.opsError5 %>
          </div>
            <% } %>
                <input type="text" class="form-control shadow-none mb-3 phText" name="staff_id" placeholder="Enter staff_id to search">  
            </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">View Staffs All Details</h5>
              <% if (errors.opsError6){ %>
                <div class="error-msg">
              <%= errors.opsError6 %>
            </div>
              <% } %>
              <a class="card-link" href="/app/staffs/details" >Click to View Staffs Details ➪</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Export Staff Details</h5>
              <% if (errors.exportError){ %>
                <%= errors.exportError %>
           <% } %>
              <a class="card-link" href="/app/staffs/export">Click to Export ➪</a>
            </div>
          </div>
        </div>
      </div> 
   </div>

   <% if(fileName){%>
    <a href="/public/exports/<%=fileName%>" download="<%=fileName%>" id="download-link"></a>
  <% } %>
  
  <script>
    document.getElementById('download-link').click()
  </script>
  
  

<%- include('../footer')  %>
 
