<%- include('../header')  %>   
   
<h3>STAFFS SECTION</h3>

<br>
<div class="container">

    <h4>Add Staff</h4>

    <form action="/app/staffs/update" method="post">
        <% if (errors.successmsg){ %>
            <%= errors.successmsg %>
       <% } %>
        <input class="form-control shadow-none mb-3 phText" type="integer" name="id" id="inputid" placeholder="ID" value="<%=data.ID%>" hidden>
        <% if (errors.name){ %>
            <%= errors.name.msg %>
       <% } %>
        <input class="form-control shadow-none mb-3 phText" type="text" name="name" id="inputName" placeholder="Staff Name" value="<%=data.NAME%>">
         <% if (errors.subject){ %>
            <%= errors.subject.msg %>
       <% } %>
        <input class="form-control shadow-none mb-3 phText" type="text" name="subject" id="inputSubject" placeholder="Subject" value="<%=data.SUBJECT%>">
        <% if (errors.department){ %>
            <%= errors.department.msg %>
       <% } %>
        <input class="form-control shadow-none mb-3 phText" type="text" name="department" id="inputDepartment" placeholder="Department" value="<%=data.DEPARTMENT%>">
        <% if (errors.mobile_no){ %>
            <%= errors.mobile_no.msg %>
       <% } %>
        <input class="form-control shadow-none mb-3 phText" type="text" name="mobile_no" id="inputMobile_no" placeholder="Mobile_No" value="<%=data.MOBILE_NO%>">
        <% if (errors.email){ %>
            <%= errors.email.msg %>
       <% } %>
        <input class="form-control shadow-none mb-3 phText" type="text" name="Email" id="inputEmail" placeholder="Email" value="<%=data.EMAIL%>">
        <input class="form-control shadow-none mb-3 phText" type="text" name="CREATED_ON" id="inputCREATED_ON"  value="<%=data.CREATED_ON%>" readonly>
        <input class="form-control shadow-none mb-3 phText" type="text" name="MODIFIED_ON" id="inputMODIFIED_ON"  value="<%=data.MODIFIED_ON%>" readonly>
        <button type="submit" class="btn btn-secondary">Update</button>
    </form>
</div>



<%- include('../footer')  %>
 