<%- include('../header')  %>   
   
<h3>STAFFS SECTION</h3>

<br>
<div class="container">

    <h4>Search Staff</h4>

    <form action="/app/staffs/update" method="post">
        <% if (errors.successmsg){ %>
            <p style="color: green;">
                <%= errors.successmsg %>
               </p>
       <% } %>
        <input class="form-control shadow-none mb-3 phText" type="integer" name="id" id="inputid" placeholder="ID" value="<%=data.ID%>" hidden>
        <% if (errors.name){ %>
            <div class="error-msg">
            <%= errors.name.msg %>
            </div>
       <% } %>
        <input class="form-control shadow-none mb-3 phText" type="text" name="name" id="inputName" placeholder="Staff Name" value="<%=data.NAME%>">
         <% if (errors.subject){ %>
            <div class="error-msg">
            <%= errors.subject.msg %>
            </div>
            <% } %>
        <input class="form-control shadow-none mb-3 phText" type="text" name="subject" id="inputSubject" placeholder="Subject" value="<%=data.SUBJECT%>">
        <% if (errors.department){ %>
            <div class="error-msg">
            <%= errors.department.msg %>
            </div>
       <% } %>
        <input class="form-control shadow-none mb-3 phText" type="text" name="department" id="inputDepartment" placeholder="Department" value="<%=data.DEPARTMENT%>" list="Departments">
        <datalist id="Departments">
            <% for(const dept of departmentData) { %>
            <option value="<%=dept.NAME%>">
              <%=dept.NAME%>
            </option>
            <% }%>
            </datalist>
            
        <% if (errors.mobile_no){ %>
            <div class="error-msg">
            <%= errors.mobile_no.msg %>
            </div>
       <% } %>
        <input class="form-control shadow-none mb-3 phText" type="text" name="mobile_no" id="inputMobile_no" placeholder="Mobile_No" value="<%=data.MOBILE_NO%>">
        <% if (errors.email){ %>
            <div class="error-msg">
            <%= errors.email.msg %>
            </div>
       <% } %>
        <input class="form-control shadow-none mb-3 phText" type="text" name="email" id="inputEmail" placeholder="Email" value="<%=data.EMAIL%>">
        <table>
            <td>
            <input class="form-control shadow-none mb-3 phText" type="text" name="CREATED_ON" id="inputCREATED_ON"  value="<%=data.CREATED_ON%>" readonly>
            </td>
            <td>
            <input class="form-control shadow-none mb-3 phText" type="text" name="MODIFIED_ON" id="inputMODIFIED_ON"  value="<%=data.MODIFIED_ON%>" readonly>
            </td>
        </table>
        
        <button type="submit" class="btn btn-secondary">Update</button>
    </form>
    <br>
    <a href="/app/staffs/delete/<%= data.ID%>" class="btn btn-danger">Delete</a>
</div>



<%- include('../footer')  %>
 